<!DOCTYPE html>
<html>
  <head>
    <title>WatchTube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>",
          "email": "<%= current_user.email %>"
        }
      </script>
    <% end %>
    <script type="text/javascript">
      window.YoutubeURL = "<%= image_url('youtube-logo.png') %>";
      window.WatchTube = "<%= image_url('watchtube_black.png') %>";
    </script>
    <%= favicon_link_tag '/Users/dmitriian/Desktop/youtube-clone/app/assets/images/favicon_created_by_logaster.ico' %>
    <script src="https://kit.fontawesome.com/f5e2d31d85.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
